<html>
<head>

    <style>

        .about-us-body{
            background-color: lightgray;
        }
        .about-us-container{
    margin: 50px 0px;

}

.txt-align-center {
    text-align: center;
}

.about-us-flex-container{
    display: flex;
    flex-wrap: wrap;
}

.about-us-individual-container{
    width: 50%;
    padding: 30px;
    text-align: justify;
}
.about-us-individual-container img{
    max-width: 400px;
}
.about-us-individual-container div{
    text-align: center;
}
    </style>
</head>
<body class="about-us-body">
<div class="about-us-container" id="about-us">
        <div class="txt-align-center ">
            <h3>ABOUT US</h3>
        </div>
        <div class="about-us-flex-container">
            <div class="about-us-individual-container">
                <div>
                    <img display="flex" height="350" src="/static/images/sembo-hotel.jpg">
                </div>

            </div>
            <div class="about-us-individual-container">
                <p>
                    We provide the services of hotel room booking to our clients. A user can access through variety of rooms according to
                    price, ratings etc. After client finalizes the room he/she get's an email on their personal email id about the booking
                    confirmation. In case of any issue client can contact us. He will be provided with incident reference number on his email
                    ID. OTP based authentication is also provided to client in case they forget password and new users can first register on the website
                    they get their customer id on email then they proceed to login. A admin manages all the bookings
                    made by client. Admin can add the room into the portal and delete room from it.
                </p>
            </div>
        </div>
</body>
</html>