<html>
<head>

    <style>
        .about-us-container{
    margin: 50px 0px;

}

.txt-align-center {
    text-align: center;
}

.about-us-flex-container{
    display: flex;
    flex-wrap: wrap;
}

.about-us-individual-container{
    width: 50%;
    padding: 30px;
    text-align: justify;
}
.about-us-individual-container img{
    max-width: 400px;
}
.about-us-individual-container div{
    text-align: center;
}
    </style>
</head>
<body>
<div class="about-us-container" id="about-us">
        <div class="txt-align-center ">
            <h5>ABOUT US</h5>
        </div>
        <div class="about-us-flex-container">
            <div class="about-us-individual-container">
                <div>
                    <img src="/static/images/about-us.jpg">
                </div>

            </div>
            <div class="about-us-individual-container">
                <p>
                    We provide the services of Car details to our customers. Car companies such as Mercedes-benz, BMW,
                    Audi, Bentley are associated with us. A customer can visit CARS section of our website and can
                    filter various cars according to make, model and price. Then a user can also contact us after
                    selecting BUY NOW option and submitting their details. If customer wants more details about that car
                    he/she can select MORE INFO option which will redirect them to the official website.
                    We provide the services of Car details to our customers. Car companies such as Mercedes-benz, BMW,
                    Audi, Bentley are associated with us.
                </p>
            </div>
        </div>
</body>
</html>