<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<h1 align="center">Enter OTP Page</h1>

<form id="loginForm" onsubmit="return false">
<div class="form-group">
        <label>Enter the OTP received via Email</label>
        <input type="text" class="form-control" id="OtpReceived" placeholder="required" required>
    </div>

    <div class="form-group">
            <label>Enter your New Password</label>
            <input type="password" class="form-control" id="newPass" placeholder="required" required>
    </div>

    <div class="form-group">
    <button type="submit" class="btn btn-primary" id="sendingData" value="submit" disabled="disabled">CONFIRM</button>
    </div>
    </form>
    <span>
    <a href="{{ url_for('index') }}">Navigate to home</a>
    </span>

    <script src="/static/javascript/addOTP.js"></script>
<script>
var inputs = document.querySelectorAll('#loginForm input');

var validateInput1 = function()
{
  return document.getElementById('OtpReceived').value !== '';
}

var validateInput2 = function()
{
  return document.getElementById('newPass').value !== '';
}

var validateForm = function() {

  if ( !validateInput1() ) {
    return false;
  }

  if ( !validateInput2() ) {
    return false;
  }

  return true;
}

for ( var i = 0, len = inputs.length; i < len; i++ )
{
  var checkValid = function() {
    document.getElementById('sendingData').disabled = !validateForm();

  }

  inputs[i].addEventListener('change', checkValid);
  inputs[i].addEventListener('keyup', checkValid);
}
    </script>
</body>
</html>