
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

  <h1 align="center">Add Room Page</h1>

<form id="registerForm" action = "http://localhost:5000/addRoomFromtheForm" method = "POST"
    enctype = "multipart/form-data">

    <div class="form-group">
            <label>Enter room number</label>
            <input type="text" class="form-control" id="number" name="number" placeholder="required" required>
    </div>

    <div class="form-group">
            <label>Enter room price</label>
            <input type="text" class="form-control" id="roomprice" name="roomprice" placeholder="required" required>
    </div>

    <div class="form-group">
            <label>Enter rating for the room out of 10</label>
            <input type="text" class="form-control" id="ratings" name="ratings" placeholder="required" required>
    </div>

    <div class="form-group">
            <label>Enter the facilities</label>
            <input type="text" class="form-control" id="facility" name="facility" placeholder="required" required>
    </div>

    <div class="form-group">
            <label>Upload the room picture</label><br>
            <input type="file" name="file">
    </div>

    <input type="submit" class="btn btn-primary">

<span>
    <button type="reset" class="btn btn-primary" value="reset" >Reset</button>
    </span>
    <br>
    <br>
    <span>
    <a href="{{ url_for('adminDashboard') }}">Back to Dashboard</a>
    </span>
    <br>

    <br>
        <span>
            <h5>Logout from Webpage</h5>

    <a href="{{ url_for('adminLogoutPage') }}">Logout</a>
    </span>
</div>
</form>


</body>
</html>