
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

  <h1 align="center">Add Room Page</h1>

<form id="registerForm" onsubmit="return false">
    {% for key, value in session['adminDataStored'].items() %}
        {% if key=='session_id' %}
           <input hidden id="userSession" value={{ value }}>
        {% endif %}

    {% endfor %}
    <div class="form-group">
            <label>Enter room number</label>
            <input type="text" class="form-control" id="number" placeholder="required" required>
    </div>

    <div class="form-group">
            <label>Enter room price</label>
            <input type="text" class="form-control" id="roomprice" placeholder="required" required>
    </div>

    <div class="form-group">
            <label>Enter rating for the room out of 10</label>
            <input type="text" class="form-control" id="ratings" placeholder="required" required>
    </div>

    <button type="submit" class="btn btn-primary" id="sendingData" value="submit" disabled="disabled">ADD</button>
<span>
    <button type="reset" class="btn btn-primary" value="reset" >Reset</button>
    </span>
    <br>
    <br>
    <span>
    <a href="{{ url_for('adminDashboard') }}">Back to Dashboard</a>
    </span>
    <br>
</form>


    <script src="/static/javascript/addingRoom.js"></script>

<script>
var inputs = document.querySelectorAll('#registerForm input');

var validateInput1 = function()
{
  return document.getElementById('number').value !== '';
}

var validateInput2 = function()
{
  return document.getElementById('roomprice').value !== '';
}
var validateInput3 = function()
{
  return document.getElementById('ratings').value !== '';
}

var validateForm = function() {

  if ( !validateInput1() ) {
    return false;
  }

  if ( !validateInput2() ) {
    return false;
  }
if ( !validateInput3() ) {
    return false;
  }

  return true;
}

for ( var i = 0, len = inputs.length; i < len; i++ )
{
  var checkValid = function() {
    document.getElementById('sendingData').disabled = !validateForm();

  }

  inputs[i].addEventListener('change', checkValid);
  inputs[i].addEventListener('keyup', checkValid);
}
    </script>
</body>
</html>