<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<div class="header">
  <a class="logo">FastRoomBook.com</a>
  <div class="header-right">
    <a class="active" href="{{ url_for('addRoomPage') }}">Add Room</a>
      <a href="{{ url_for('deleteRoomPage') }}">Delete Room</a>
      <a href="{{ url_for('adminLogoutPage') }}">Logout</a>
  </div>
</div>

</body>
</html>