<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
   <body id="userDashboard">
      <table border = 1>
         {% for key, value in session['loginData'].items() %}
            <tr>
               <th> {{ key }} </th>
               <td> {{ value }} </td>
            </tr>
         {% endfor %}
      </table>
<br>
 <table border = 1>
     {% for x in session['RoomsData'] %}

         {% for key, value in x.items() %}
            <tr>
               <th> {{ key }} </th>
               <td> {{ value }} </td>
            </tr>
         {% endfor %}

       {% endfor %}

</table>
   <script src="/static/javascript/userIsLogin.js"></script>
   </body>
</html>