<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<body>
<h1 align="center">Forget Password page</h1>

<form id="loginForm">
<div class="form-group">
        <label>Enter your user ID</label>
        <input type="text" class="form-control" id="customerID">
    </div>

    <div class="form-group">
            <label>Enter your Email address</label>
            <input type="password" class="form-control" id="email">
    </div>

    <div class="form-group">
    <label>Generate OTP</label>
    <button type="button" class="btn btn-primary" id="sendingData" value="submit">Generate</button>
    </div>
    </form>
    <span>
    <a href="{{ url_for('index') }}">Navigate to home</a>
    </span>

    <script src="/static/javascript/forgotPassword.js"></script>
</body>
</html>