<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<div class="header">
  <a class="logo">FastRoomBook</a>
  <div class="header-right">
    <a href="{{ url_for('index') }}">Home</a>
    <a class="active" href="{{ url_for('userLoginPage') }}">User Login</a>
      <a href="{{ url_for('registerUser') }}">New User Registration</a>
      <a href="{{ url_for('adminLoginPage') }}">Admin Login</a>
      <a href="{{ url_for('contactUsViaHomeForm') }}">Contact Us</a>
  </div>
</div>

</body>
</html>
