<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

  <h1 align="center">User Login page</h1>

<form id="loginForm" name="loginForm" onsubmit="return false">
<div class="form-group">
        <label>Enter your user ID</label>
        <input type="text" class="form-control" id="customerName" name="customerName" placeholder="required" required>
    </div>

    <div class="form-group">
            <label>Enter your Password</label>
            <input type="password" class="form-control" id="pass" name="pass" placeholder="required" required>
    </div>

    <button type="submit" id="sendingData" class="btn btn-primary" value="submit" disabled="disabled">Login</button>
    <span>
    <a href="{{ url_for('index') }}">Navigate to home</a>
    </span>
    <br>
    <br>
    <span>
        <label>Please access below link for password reset</label>
        <br>
    <a href="{{ url_for('forgotPasswordForm') }}">Forgot Password </a>
    </span>
    <br>
    <div>
        <br>
    <label>New user. Please register first.</label>
        <br>
    <a id="registerData" href="{{ url_for('registerUser') }}">Register</a>
    </div>
</form>

    <script src="/static/javascript/userIsLogin.js"></script>


<script>
var inputs = document.querySelectorAll('#loginForm input');

var validateInput1 = function()
{
  return document.getElementById('customerName').value !== '';
}

var validateInput2 = function()
{
  return document.getElementById('pass').value !== '';
}

var validateForm = function() {

  if ( !validateInput1() ) {
    return false;
  }

  if ( !validateInput2() ) {
    return false;
  }

  return true;
}

for ( var i = 0, len = inputs.length; i < len; i++ )
{
  var checkValid = function() {
    document.getElementById('sendingData').disabled = !validateForm();

  }

  inputs[i].addEventListener('change', checkValid);
  inputs[i].addEventListener('keyup', checkValid);
}
    </script>

</body>
</html>