<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

  <h1 align="center">Login page</h1>

<form id="loginForm">
<div class="form-group">
        <label>Enter your user ID</label>
        <input type="text" class="form-control" id="customerName">
    </div>

    <div class="form-group">
            <label>Enter your Password</label>
            <input type="password" class="form-control" id="pass">
    </div>

    <button type="button" class="btn btn-primary" id="sendingData" value="submit">Login</button>
    <br>
    <div>
        <br>
    <label>New user. Please register first.</label>
        <br>
    <a id="registerData" href="{{ url_for('registerUser') }}">Register</a>
    </div>
</form>


    <script src="/static/javascript/userIsLogin.js"></script>


</body>
</html>